html, body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  /*setting canvas to be behind*/
  position: absolute; 
  z-index: -1;
}

#toolbar {
  display: flex;
  background-color: rgb(74, 78, 105);
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
}

.tool{
  background-color: rgb(242, 233, 228);
  width: 100px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  align-self: center;
}

.left {
  display: flex;
  justify-content: left;
  width: 50%;
}

.right {
  display: flex;
  justify-content: right;
  width: 50%;
}

#timeline {
  position: absolute;
  left: 3vw;
  bottom: 5%;
  width: 94vw;
}

.container {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100vh;
}

#timelineContainer {
  display: flex;
  user-select: none;
}

.slider {
  margin: 0 50px 0 50px;
  align-self: center;
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: rgb(154, 140, 152);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  user-select: none;
}

.slider:hover {
  opacity: 1;
}

/*slider handle for timeline*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

/*slider handle for timeline*/
/*moz used for firefox*/
.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: blue; 
  cursor: pointer; 
}

#timeBar::-webkit-slider-thumb {
  width: 25px;
  height: 100px;
  border-radius: 10px;
  background: rgb(34, 34, 59);
}

#timeBar {
  height: 25px
}

.timelineButton {
  padding:0;
  margin: 0;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: transparent;
  user-select: none;
}

.toolImgButton {
  background-color: transparent;
  height: 60px;
  width: 60px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#objectsMenu {
  overflow-y: scroll;
  display: none;
  border: 3px solid rgb(74, 78, 105);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: none solid solid;
  margin-left: 30px;
  width: 300px;
  max-height: 70%;
  background-color: rgba(154, 140, 152, 0.8);
}

#objectsMenu::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

#objectsMenu::-webkit-scrollbar-thumb {
  
  background-color: rgba(34, 34, 59, 0.5);
  border-radius: 10px;
}

.dropdownHeading {
  color: white;
  font-size: 40px;
}

#objectsMenu.showCategories {
  display: block;
}

.object {
  display: none;
  color: white;
  font-size: 25px;
}

.object.showObject {
  display: block;
}
.scrollInput {
  display: flex;
}

.controlsSlider {
  margin: 0;
  width: 80%;
}

.controlsInputBox {
  margin: 0;
  width: 20%;
}

.textInput .controlsInputBox {
  margin: 0;
  width: 60%;
}

.scrollValue {
  margin: 0;
  width: 20%;
}

.controls {
  display: none;
  font-size: 15px;
}

.showControls {
  display: block;
}

.elementHeading {
  margin-bottom: 10px;
}

.toolbarButtonPressed {
  width: 65px;
  height: 65px;
  margin: 17.5px;
}

/* homepage styles */

#homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(242, 233, 228);
}

#systemsContainer {
  margin-top: 30vh;
  /* border: 3px solid black; */
  width: 50%;
  max-height: 50%;
  overflow-y: scroll;
  border-radius: 10px;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
#systemsContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
#systemsContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.systemName {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgb(74, 78, 105);
  color: white;
  font-size: 30px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid rgb(93, 98, 129);
  user-select: none;
}

.systemName:hover {
  background-color: rgb(93, 98, 129);
}

.systemName:active {
  height: 68px;
  width: 98%;
  margin: auto;
}

.systemElement {
  margin-bottom: 10px;
}

#systemCreateButton {
  margin: 20px;
  width: 80px;
  
  /* user-select: none; */
   
}

.systemFeatures {
  display: none;
  margin-top: 10px;
}

.systemFeatures.systemFeaturesShow {
  display: block;
}

.valuesContainer {
  display: none;
}

.valuesContainer.valuesContainerShow {
  display: block;
}

#homeHeader {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  background-color: rgb(74, 78, 105);
}

#homeHeading {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 70px;
  white-space: nowrap; /* Prevents text from breaking */
}

#homeHeaderRight {
  margin-left: auto; 
}

/* profile stypes */

#loginHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 78, 105);
}

#loginHeaderRight {
  margin-left: auto; 
}

#loginTitle {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 70px;
  white-space: nowrap; /* Prevents text from breaking */
}

#loginContainer {
  background-color: rgb(242, 233, 228);
  height: 100vh;
}

#loginContentContainer {
  display: flex;
  justify-content: center;
}

#loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  background-color: #bdbdbd;
  color: white;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInput {
  margin-top: 10px;
  height: 30px;
  width: 20vw;
  border: 1px solid #000000;
  border-radius: 5px;
}

.loginInput.loginSubmitButton {
  margin-top: 20px;
  height: 30px;
  border: 1px solid #2cac45;
  border-radius: 5px;
  background-color: #2a8d3e;
  color: white;
  text-shadow: 1px 0.5px rgb(0, 0, 0)
}

.loginInput.loginSubmitButton:active {
  background-color: #2cac45;
}

#registerLink {
  margin-top: 20px;
}

/* register stypes */

#registerTitle {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 70px;
  white-space: nowrap; /* Prevents text from breaking */
}

#registerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(74, 78, 105);
}

#registerContainer {
  background-color: rgb(242, 233, 228);
  height: 100vh;
}

#registerContentContainer {
  display: flex;
  justify-content: center;
}

#registerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  background-color: #bdbdbd;
  color: white;
}

#registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerInput {
  margin-top: 10px;
  height: 30px;
  width: 20vw;
  border: 1px solid #000000;
  border-radius: 5px;
}

.registerInput.registerSubmitButton {
  margin-top: 20px;
  height: 30px;
  border: 1px solid #2cac45;
  border-radius: 5px;
  background-color: #2a8d3e;
  color: white;
  text-shadow: 1px 0.5px rgb(0, 0, 0)
}

.registerInput.registerSubmitButton:active {
  background-color: #2cac45;
}

#loginLink {
  margin-top: 20px;
}

/* graphs */

#graphHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(74, 78, 105);
}

#graphHeaderLeft {
  margin-right: auto; 
}

#graphTitle {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 70px;
  white-space: nowrap; /* Prevents text from breaking */
}

canvas#kineticEnergyGraph {
  background-color: rgb(242, 233, 228);
}